{
    "account": "",
    "password": "",
    "school_id": "",
    "app_version": "4.6.2",
    "system": "9",
    "address": "",
    "address_name": "",
    "latitude": "",
    "longitude": "",
    "remark": 0
}